.auth-form {
  &__title {
    display: flex;
    justify-content: center;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__wrapper {
    margin-top: 50px;
  }

  &__tab-wrapper {
    margin: 5px;
  }
}

mat-form-field {
  width: 100%;
}
